* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
}

.header {
    background-color: rgb(62, 94, 94);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
    display: flex;
    gap: 1rem;
}

.nav {
    display: flex;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: .5rem;
}

.nav-link {
    color: rgb(136, 190, 28);
    text-decoration: none;
}

.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

h1 {
    color: rgb(128, 177, 31);
}

.products-container {
    min-height: 30vh;
    display: grid;
    place-items: center;
}

.oscuro {
    background-color: black !important;
}


.item-list-container {
    max-width: 80vh; 
    margin: 20px; /* Agrega separación superior e inferior */
    min-height: calc(100vh - 40px); /* Calcula la altura mínima restando el espacio del margen */
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.producto img {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: 75%; /* La imagen ocupará todo el alto del contenedor */
    object-fit: cover; /* La imagen se ajustará para cubrir el contenedor */
}


.background-image {
    background-image: url('../assets/img/fondo3.jpg');
    /* background-size: cover; */
    background-position: center;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    /* width: 100%; */
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.productos-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}



.producto {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: rgb(62, 94, 94);
    border-radius: .5rem;
    padding: 2rem;
    color: white; /* Asegura que el texto sea legible sobre el fondo oscuro */
}

.grid {
    display: grid;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: rgb(62, 94, 94);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.detalle-tarjeta {
    background-color: rgba(62, 94, 94);
    border-radius: 0.5rem;
    padding: 1rem;
    color: white;
    width: 500px; /* Ancho fijo de 500px */
    height: auto; /* Altura fija de 500px */
    margin: auto; /* Centra horizontalmente el contenedor */
    margin-top: 50px; /* Espacio superior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.detalle-tarjeta img {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* La altura de la imagen se ajustará automáticamente */
    max-height: 400px; /* Altura máxima para la imagen */
    object-fit: contain; /* La imagen se ajustará para que quepa dentro del contenedor sin distorsionar su relación de aspecto */
    margin-bottom: 1rem; /* Espacio inferior */
}
